[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "tempo"
version = "2.1.0-dev.15483013398"
description = "Unreal Engine modding tool, that covers project management, automated builds, and more"
readme = "README.md"
requires-python = ">=3.9.1"
license = { file = "LICENSE" }
keywords = []
authors = [
  { name = "Mythical", email = "MythicalData@gmail.com" },
]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: Implementation :: CPython",
]
dependencies = [
  "click",
  "trogon",
  "tomlkit",
  "tempo_core @ git+https://github.com/Tempo-Organization/tempo_core"
]

[tool.hatch.envs.dev]
dependencies = [
  "pre-commit",
  "commitizen",
  "py_project_dev_tools @ git+https://github.com/Mythical-Github/py_project_dev_tools"
]

[tool.hatch.envs.docs]
dependencies = [
  "mkdocs-material",
  "mkdocstrings-python",
  "pre-commit",
  "commitizen",
  "py_project_dev_tools @ git+https://github.com/Mythical-Github/py_project_dev_tools"
]

[project.urls]
Documentation = "https://github.com/Tempo-Organization/tempo/blob/main/README.md"
Issues = "https://github.com/Tempo-Organization/tempo/issues"
Source = "https://github.com/Tempo-Organization/tempo"

[project.scripts]
tempo = "tempo.__main__:main"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.env]
requires = ["hatch-pip-compile"]

[tool.hatch.envs.default]
type = "pip-compile"
path = ".venv"
pip-compile-resolver = "uv"
pip-compile-installer = "uv"

[tool.hatch.envs.build]
template = "build"
installer = "uv"
dependencies = [
  "pyinstaller",
]

[tool.hatch.envs.build.scripts]
exe = [
  "pyinstaller --noconfirm --onefile --hidden-import=textual.widgets._tab --console --name tempo --collect-data trogon src/tempo/__main__.py",
  "pyinstaller --noconfirm --onefile --hidden-import=textual.widgets._tab --console --name tempo_headless --collect-data trogon src/tempo/__main__.pyw"
]

[tool.hatch.envs.scripts]
template = "scripts"
detached = true
installer = "uv"

[tool.hatch.envs.scripts.scripts]
clean = "git clean -d -X --force"
refresh-deps = [
  "hatch env remove default",
  "python -c \"import os; os.remove('requirements.txt')\"",
  "hatch env create default",
]

[tool.ruff]
exclude = [
    "src/tempo/cli.py"
]

[tool.typos]
[tool.typos.default]
extend-words = { ue = "ue" }

[tool.pyright]
extraPaths = [".venv/Lib/site-packages"]

[tool.commitizen]
name = "cz_conventional_commits"
tag_format = "$version"
version_scheme = "semver2"
version_provider = "pep621"
update_changelog_on_bump = true

[tool.hatch.envs.x86_64-pc-windows-msvc]
dependencies = [
  "pywin32",
  "py_project_dev_tools @ git+https://github.com/Mythical-Github/py_project_dev_tools"
]

[tool.hatch.envs.i686-pc-windows-msvc]
dependencies = [
  "pywin32",
  "py_project_dev_tools @ git+https://github.com/Mythical-Github/py_project_dev_tools"
]

[tool.hatch.envs.aarch64-unknown-linux-gnu]
dependencies = [
  "py_project_dev_tools @ git+https://github.com/Mythical-Github/py_project_dev_tools"
]

[tool.hatch.envs.x86_64-unknown-linux-gnu]
dependencies = [
  "py_project_dev_tools @ git+https://github.com/Mythical-Github/py_project_dev_tools"
]

[tool.hatch.build.targets.wheel]
packages = ["src/tempo"]
